body {
    background-color: #4b4b4b;
}



 header {
    background-color: #33AED7;
    display: grid;
    grid-template-columns: 650px 1fr;
    position: relative;
    margin-bottom: 50px;
      
} 

header::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -80px;
    border-top: 40px solid #33AED7;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;
    left: calc(50% - 40px);
    
    
      
} 

.enlaces {
    list-style: none;
    display: flex;
   
        
}

.enlaces li { 
    color: white;
    margin: 15px 20px 0px 60px;
    padding: 0px 10px 0px 0px; 
}


.enlaces li:hover { 
    border-right: 1px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transition: 0.10s ease-in-out ;
    padding: 2px 6px;
    font-size: 1rem;

   
}


li > a { 
    color: white;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

li > a:hover { 
    color: #d3d1d1;
    transition: 0.10s;
    
}
 

h1 { 
    font-family: Cinzel, 'Cinzel', serif;
    font-weight: 400;
    color: #ffffff;
    padding: 0px 0px 0px 30px; 
    
}



.container { 
    background-color: #000000;
    position: relative;
    width: 60%;
    height: 380px;
    margin: 0.5em auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    
   
}

/* .bgportafolio { 
    background-image: url("bgportafolio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    
    filter: blur(8px);
    grid-column: 1 / -1;
    grid-row: 1 / 6;
    
} */

.container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    border-top: 40px solid #4b4b4b;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;
    left: calc(50% - 40px)
}

.container::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border-top: 40px solid transparent;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
    border-bottom: 40px solid #4b4b4b;
    left: calc(50% - 40px)
}



.container .foto { 
    
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    grid-gap: 5px;
    text-align: center;
    align-self: center;
      
}

img { 
    border-radius: 50%;
    width: 50%;
    height: 40%;
    
}


.container .red {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    text-align: center;
    color: #33AED7;
    font-family: 'Comfortaa', cursive;
}

.container .div-descripcion { 
    /* background: #0fdf1a; */
    border-left: 3px solid #33AED7;
    grid-column: 2 / 4;
    grid-row: 2 / 5;
    

}

.container .div-descripcion .personal1 { 
    color: #ffffff;
    text-align: start;
    padding: 0px 2px 0px 40px;
    font-family: 'Comfortaa', cursive;
    font-size: 0.80em;
}

.container .div-descripcion .personal2 { 
    color: #ffffff;
    text-align: start;
    font-size: 700;
    padding: 0px 10px 3px 40px;
    font-family: 'Comfortaa', cursive;
    font-size: 0.80em;
}

.container .div-descripcion .personal3 { 
    color: #ffffff;
    text-align: justify;
    padding: 0px 40px 03px 40px;
    font-family: 'Comfortaa', cursive;

}

p strong {
    color:#33AED7;
    text-transform: uppercase;
}

span { 
    padding: 0px 0px 0px 25px;
    text-align: justify;
}




    
    